* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

.calc {
    width: 300px;
    height: 335px;
    background-color: black;
    color: white;
    border: 4px solid black;
    border-radius: 30px;
}

.screen {
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    text-align: right;
    padding: 20px 5px;
}


.db:hover, .sb:hover, .sb2:hover {
    background-color: #bbbcbe;
    
}

.calc-row {
    display: flex;
    align-content: stretch;
    justify-content: space-between;
    margin-bottom: 0.5%;
}

.db {
    width: 49.8%;
    border: 1px solid black;
    border-radius: 30px;
    font-size: 40px;
    cursor: pointer;
    background-color: #ebebeb;
}

.sb, .sb2 { 
    width: 24.7%;
    border: 1px solid black;
    border-radius: 30px;
    font-size: 35px;
    cursor: pointer;
    background-color: #ebebeb;
}

.sb2 {
    background-color: rgb(255, 117, 67);
    color: white;
    font-size: 24px
}